<a href="<c:url value="/logout" />">
	<spring:message code="label.logout" />
</a>
  
<ul id="css3menu1" class="topmenu">
	<li class="topfirst"><a href="#" style="height:18px;line-height:18px;"><spring:message code="label.header_repair" /></a></li>
	<li class="topmenu"><a href="#" style="height:18px;line-height:18px;"><span><spring:message code="label.header_shop" /></span></a>
	<ul>
		<li><a href="#">test</a></li>
		<li><a href="#">test2</a></li>
	</ul></li>
	<sec:authorize ifAllGranted="ROLE_ADMIN">
		<li class="toplast"><a href="<c:url value="/clients" />"style="height:18px;line-height:18px;"><spring:message code="label.header_clients" /></a></li>
	</sec:authorize>
</ul>