body {
	background: #eee
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAMAAAC6sdbXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF3d3d////riJKgAAAAAJ0Uk5T/wDltzBKAAAAFUlEQVR42mJgBAEGGMmAxAYCgAADAAGGABmnk/7aAAAAAElFTkSuQmCC);
	font: 13px 'trebuchet MS', Arial, Helvetica;
}

h2,p {
	text-align: center;
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

a {
	color: #2A679F;
}

.errorblock {
	color: #ff0000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px,;
	margin: 16px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
tr.returned_items td {
	background-color: #18B909;
}
tr.returned_item2s td input {
	border: 0; padding: 0; spacing: 0; margin: 0;
}

tr.returned_items:hover td {
	background-color: #C6E000;
	bgcolor: #2999C6;
}

tr.repaired_item td {
	background-color: #B52121;
	bgcolor: #F52323;
}

tr.repaired_item:hover td {
	background-color: #C6E000;
	bgcolor: #2999C6;
}

tr.line_items:hover td {
	background-color: #C6E000;
	bgcolor: #2999C6;
}
fieldset{
	width: 550px;
}

.error {
	color: #ff0000;
}